<!doctype html>
<html lang="en">
<head>
  <title>Trending arXiv</title>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css" integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" crossorigin="anonymous">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
  <meta name="viewport" content="width=device-width, initial-scale=1">
</head>
<body>

  <a href="https://github.com/Smerity/trending_arxiv"><img style="position: absolute; top: 0; right: 0; border: 0;" src="https://camo.githubusercontent.com/38ef81f8aca64bb9a64448d0d70f1308ef5341ab/68747470733a2f2f73332e616d617a6f6e6177732e636f6d2f6769746875622f726962626f6e732f666f726b6d655f72696768745f6461726b626c75655f3132313632312e706e67" alt="Fork me on GitHub" data-canonical-src="https://s3.amazonaws.com/github/ribbons/forkme_right_darkblue_121621.png"></a>

  <div class="container">
  <h1>
    <a href="/refresh" title="Refresh"><span class="glyphicon glyphicon-refresh" aria-hidden="true"></span></a>
    Trending arXiv
  </h1>
  <ul class="nav nav-pills">
    <li role="presentation"><a href="{{ url_for('show_all') }}"><span aria-hidden="true" class="glyphicon glyphicon-file"></span> Papers</a></li>
    <li role="presentation"><a href="{{ url_for('show_tweets') }}"><span aria-hidden="true" class="glyphicon glyphicon-comment"></span> Tweets</a></li>
    <li role="presentation"><a href="{{ url_for('rate_limits') }}"><span class="glyphicon glyphicon-signal" aria-hidden="true"></span> Rate Limits</a></li>
    <li role="presentation"><a href="{{ url_for('refresh') }}"><span class="glyphicon glyphicon-refresh" aria-hidden="true"></span> Refresh</a></li>
  </ul>
  {% with messages = get_flashed_messages() %}
    {% if messages %}
      {% for message in messages %}
        <div class="alert alert-success alert-dismissible" role="alert">
          <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
          {{ message }}
        </div>
      {% endfor %}
    {% endif %}
  {% endwith %}
  {% block body %}{% endblock %}
  </div>
  <footer class="footer">
    <div class="container">
      <center>
        <p class="text-muted"><em>Made with a human heart <span class="glyphicon glyphicon-heart-empty" aria-hidden="true"></span> + one part enriched uranium <span class="glyphicon glyphicon-warning-sign" aria-hidden="true"></span> + four parts unicorn blood <span class="glyphicon glyphicon-knight" aria-hidden="true"></span></em></p>
      </center>
    </div>
  </footer>
</body>
<script async src="//platform.twitter.com/widgets.js" charset="utf-8"></script>
</html>
